.search-bar {
  flex: 1;
  transition: all var(--transition-normal);
  
}

.search-bar:focus-within {
  box-shadow: 0 0 0 2px var(--primary-color);
  border-radius: var(--radius-md);
}

nz-input-group {
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
  border: none;
  background-color: var(--primary-light);
  border-radius: var(--radius-md);
  padding: 10px 5px;
  height: 42px;
}

nz-input-group input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  font-size: var(--font-lg);
  color: var(--text-main);
}

nz-input-group input::placeholder {
  color: var(--text-muted);
}
