<ng-container *ngIf="!isFullPage; else fullPage">
  <nz-layout class="app-layout">
    <!-- Desktop Sidebar -->
    <nz-sider
      *ngIf="!isMobile"
      class="menu-sidebar"
      nzCollapsible
      nzWidth="260px"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null"
      nzTheme="light"
    >
      <div class="sidebar-logo">
        <img [src]="logo" alt="logo" style="width: 32px" />
        <h1 *ngIf="!isCollapsed">إدارة المشاريع</h1>
      </div>
      <ng-container [ngTemplateOutlet]="menuTpl"></ng-container>
    </nz-sider>

    <!-- Mobile Drawer -->
    <nz-drawer
      [nzVisible]="isDrawerVisible"
      nzPlacement="right"
      [nzTitle]="drawerTitle"
      (nzOnClose)="closeDrawer()"
      *ngIf="isMobile"
    >
      <ng-container *nzDrawerContent>
        <ng-container [ngTemplateOutlet]="menuTpl"></ng-container>
      </ng-container>
    </nz-drawer>

    <ng-template #drawerTitle>
      <div class="sidebar-logo drawer-logo">
        <img [src]="logo" alt="logo" style="width: 32px" />
        <h1>إدارة المشاريع</h1>
      </div>
    </ng-template>

    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="toggleSidebar()">
            <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" *ngIf="!isMobile" />
            <span nz-icon nzType="menu" class="trigger" *ngIf="isMobile"></span>
          </span>
        </div>
        <div class="header-right">
          <nz-badge nzDot [nzOffset]="[-24, 3]">
            <span nz-icon nzType="bell" nzTheme="outline"></span>
          </nz-badge>
          <div class="user-profile">
            <nz-avatar [nzSrc]="userAvatar" nzSize="default"></nz-avatar>
          </div>
        </div>
      </nz-header>

      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</ng-container>

<ng-template #menuTpl>
  <ul nz-menu nzTheme="light" nzMode="inline" class="app-menu">
    <li nz-menu-group>
      <ul>
        <li nz-menu-item routerLink="/projects" routerLinkActive="nzSelected">
          <span nz-icon nzType="dashboard"></span>
          <span>الرئيسية</span>
        </li>
        <li nz-submenu nzTitle="المشاريع" nzIcon="project">
          <ul>
            <li nz-menu-item *ngFor="let project of projects">
              <a [routerLink]="['/projects', project.id]">{{ project.tilte }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</ng-template>

<ng-template #fullPage>
  <div class="full-page-router-wrapper">
    <router-outlet></router-outlet>
  </div>
</ng-template>


